@import "../../../../../../../models/style/main.scss";

.Manager {
  animation: fade .5s ease-in-out;
}

.Body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.Buttons {
  text-align: left;
  margin-left: 30px;
  margin-top: 20px;
  @include respond(phone) {
    text-align: center;
  }
}

.Error {
  color: $error;
  margin: 0;
  margin-right: 30px;
  margin-top: 10px;
  animation: fade-right .3s linear;

  &::before {
    content: "שגיאה: ";
    font-weight: 500;
  }
}


