@import "../../../../../models/style/main.scss";

.BusinessSettings {
  width: 85vw;
  margin-right: auto;
  animation: fade 0.5s ease-in-out;

  @include respond(phone) {
    width: 100vw;
    margin-right: 0;
  }

  & .Body {
    @include settingsBody;
    height: 40vh;

  }
}
